<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <title>Données temps réel</title>
    <script src="{{ url_for('static', filename='chart.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div id="left-panel">
        <div class="charts-container">
            <div>
                <h1>Température (°C)</h1>
                <canvas id="tempChart"></canvas>
            </div>
            <div>
                <h1>Humidité (%)</h1>
                <canvas id="humChart"></canvas>
            </div>
            <div>
                <h1>Pression (hPa)</h1>
                <canvas id="presChart"></canvas>
            </div>
        </div>
        <div class="slider-container">
            <input id="timeRangeSlider" type="range" min="1" max="100" value="100" />
            <div id="timeDisplay"></div>
        </div>
    </div>

    <div id="right-panel">
        <h1>Image capteur</h1>
        <img id="sensorImage" src="" alt="Image capteur" />
        <button id="liveToggleButton">Changer le mode d'affichage</button>
        <div id="imageModeStatus"></div>
        <input id="imageSlider" type="range" min="1" max="100" value="100" />
        <div id="imageTimestamp"></div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>
